body {
    background-color: #000;
    color: #fff; /* Texte blanc */
}

/* Conteneur du formulaire */
.container {
    max-width: 600px;
    margin: auto;
}

/* Cartes des héros */
.card {
    background-color: #333; /* Fond gris foncé */
    color: #fff; /* Texte blanc */
    margin-top: 20px;
}

/* Titre de la carte */
.card-title {
    color: #ff0; /* Jaune */
}

/* Bouton "Combattre" */
.btn-info {
    background-color: #ff0; /* Jaune */
    border-color: #ff0; /* Bordure jaune */
}

/* Texte et bouton du formulaire */
.form-label,
.form-control,
.btn-primary {
    background-color: #333; /* Fond gris foncé */
    color: #fff; /* Texte blanc */
}

/* Bouton "Valider" */
.btn-primary {
    background-color: #ff0; /* Jaune */
    border-color: #ff0; /* Bordure jaune */
}